# Set default behavior to automatically normalize line endings
* text=auto

# Force batch scripts to use CRLF line endings
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to use LF line endings
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
*.tgz binary
*.map binary
*.wasm binary

# Source code
*.css text
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.md text
*.sql text
*.yml text
*.yaml text
*.html text
*.xml text

# Doc files
*.txt text
*.md text
*.mdx text
*.csv text 